/* global  */
:root {
  --main-color: #ff9800;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* global  */
/* setting box  */
.setting-box {
  width: 200px;
  position: fixed;
  left: -200px;
  top: 0;
  background-color: #fff;
  z-index: 100;
  min-height: 100vh;
  transition: 0.3s ease;
}
.setting-box.open {
  left: 0;
}
.setting-box .toggle-setting {
  right: -30px;
  position: absolute;
  top: 100px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}
.setting-box .toggle-setting .fa-gear {
  padding: 8px 0;
  width: 30px;
}
.setting-box .setting-container .option-box {
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: #eee;
}
.setting-box .setting-container .option-box h4 {
  color: #777;
  font-size: 14px;
  margin: 0;
}
.setting-box .setting-container .option-box ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
.setting-box .setting-container .option-box ul li {
  width: 24px;
  height: 24px;
  background-color: var(--main-color);
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid #eee;
}
.setting-box .setting-container .option-box ul li:first-child {
  background-color: #ff9800;
}
.setting-box .setting-container .option-box ul li:nth-child(2) {
  background-color: #e91e63;
}
.setting-box .setting-container .option-box ul li:nth-child(3) {
  background-color: #009688;
}
.setting-box .setting-container .option-box ul li:nth-child(4) {
  background-color: #03a9f4;
}
.setting-box .setting-container .option-box ul li:last-child {
  background-color: #4caf50;
}
.setting-box .setting-container .option-box ul li.active {
  border-color: #fff;
}
.setting-box .option-box .yes,
.setting-box .option-box .no {
  width: 50px;
  color: #fff;
  background-color: var(--main-color);
  padding: 4px 10px;
  font-size: 14px;
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  border-radius: 4px;
  opacity: 0.5;
  cursor: pointer;
}
.setting-box .setting-container .option-box span.active {
  opacity: 1;
}
.setting-box .setting-container button {
  background-color: #f44336;
  border: none;
  width: 178px;
  margin: 10px auto;
  display: block;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
/* setting box  */
/* bullets  */
.nav-bullets {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  z-index: 10000;
}
.nav-bullets .bullets {
  width: 20px;
  height: 20px;
  border: 3px solid var(--main-color);
  margin: 10px auto;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.nav-bullets .bullets:hover .tooltip {
  display: block;
}
.nav-bullets .tooltip {
  background-color: var(--main-color);
  width: 120px;
  color: #fff;
  padding: 8px 10px;
  position: absolute;
  right: 32px;
  top: -10px;
  text-align: center;
  cursor: default;
  pointer-events: none;
  display: none;
}
.nav-bullets .tooltip::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent var(--main-color);
  height: 0;
  width: 0;
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
}
/* bullets  */
/* landing */
.landing {
  min-height: 100vh;
  position: relative;
  background-image: url(../imgs/01.jpg);
  background-size: cover;
}
.landing .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.landing .container {
  z-index: 10000;
}
.landing .header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  padding: 10px;
}
.landing .header .logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 15px;
}
.landing .header .links-container {
  width: 100%;
  text-align: right;
}
.landing .header .links {
  display: flex;
  list-style: none;
}
.landing .header .links li a {
  margin: 10px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.landing .header .links li a:hover,
.landing .header .links li a.active {
  color: var(--main-color);
}
.landing .header .toggle-menu {
  width: 40px;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  position: relative;
}
.landing .header .toggle-menu.menu-active::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  bottom: -15px;
  left: 10px;
}
.landing .header .toggle-menu span {
  display: block;
  background-color: #fff;
  height: 3px;
  margin-bottom: 4px;
}
.landing .header .toggle-menu:focus {
  outline: none;
}
.landing .intro {
  width: 100%;
  position: absolute;
  text-align: center;
  /* padding-top: 200px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
  width: 95%;
}
.landing .intro h1 {
  font-size: 37px;
}
.landing .intro h1 span {
  color: var(--main-color);
}
.landing .intro p {
  line-height: 1.6;
  font-size: 20px;
}
/* landing */
/* about */
.about {
  padding-bottom: 50px;
  padding-top: 50px;
  margin: auto;
}
@media (max-width: 767px) {
    .about .box{
      display: block;
      text-align: center;
    }
    .about .txt {
      padding: 0;
    }
}
.about .box {
  display: flex;
  gap: 100px;
  align-items: center;
}
@media (max-width: 767px) {
  .about .box{
    display: block;
    text-align: center;
  }
}
.about .box .txt {
  padding: 30px;
}
@media (max-width: 767px) {
  .about .txt {
    padding: 0;
  }
}
.about .box .txt h1 {
  color: var(--main-color);
}
.about .box .txt p {
  line-height: 1.6;
  font-size: 18px;
  color: #777;
  margin: 0;
}
/* about */
/* skills */
.main-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 50px;
}
.skills {
  background-color: #eee;
  padding-bottom: 50px;
  padding-top: 50px;
  margin: auto;
}
.skills .container .box {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .skills .container .box {
    display: block;
    padding-bottom: 15px;
  }
}
.skills .container .box p {
  width: 140px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
  line-height: 30px;
}
@media (max-width: 767px) {
  .skills .container .box p {
    width: 100%;
    margin-bottom: 15px;
  }
}
.skills .container .box .progress {
  height: 30px;
  width: 100%;
  background-color: #eee;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.skills .container .box .progress span {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: all 0.5s;
}
/* skills */
/* gallery */
.gallery {
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  text-align: center;
  gap: 20px;
}
.gallery img {
  width: 200px;
  padding: 3px;
  background-color: #eee;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
  margin: auto;
}
.popup-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1001;
}
.popup-box h3 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px;
  color: var(--main-color);
}
.popup-box img {
  max-width: 100%;
}
.close-button {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, tahoma;
  border-radius: 50%;
}
/* gallery */
/* timeline */
.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}
.timeline .timeline-content:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: var(--main-color);
  top: 0;
  left: 50%;
  margin-left: -1px;
}
.timeline .timeline-content .year {
  width: 50px;
  color: #fff;
  background-color: var(--main-color);
  margin: 20px auto;
  padding: 2px 5px;
  z-index: 2;
  position: relative;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
}
.timeline .timeline-content .right,
.timeline .timeline-content .left {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
  display: flex;
}
.timeline .timeline-content .left {
  float: left;
}
.timeline .timeline-content .right {
  float: right;
}
.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before {
  content: "";
  background-color: #fff;
  width: 14px;
  height: 14px;
  border: 3px solid var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 20px;
}
.timeline .timeline-content .left::before {
  right: -35px;
}
.timeline .timeline-content .right::before {
  left: -35px;
}
.timeline .timeline-content .card {
  padding: 20px;
  background-color: #fff;
}
.timeline .timeline-content .left .card::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent #fff;
  height: 0;
  width: 0;
  position: absolute;
  top: 20px;
  right: -20px;
}
.timeline .timeline-content .right .card::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent #fff transparent transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: 20px;
  left: -20px;
}
.timeline .timeline-content .card h3 {
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 10px;
}
.timeline .timeline-content .card p {
  color: #333;
  margin: 0;
  line-height: 1.6;
}
.clear-both {
  clear: both;
}
/* timeline */
/* features */
.features {
  padding-top: 50px;
  padding-bottom: 50px;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .container .box {
  text-align: center;
  margin-top: 20px;
}
.features .container .box .image img {
  width: 96px;
}
.features .container .box .text h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
}
.features .container .box .text h3::before {
  content: "";
  width: 50px;
  height: 5px;
  position: absolute;
  background-color: var(--main-color);
  bottom: -22px;
  left: 50%;
  margin-left: -20px;
}
.features .container .box .text p {
  margin-top: 40px;
  color: #333;
  line-height: 1.6;
  font-size: 18px;
}
/* features */
/* testimonials */
.testimonials {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
.testimonials::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  z-index: -100;
}
.testimonials::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #333;
  z-index: -100;
}
.testimonials h2 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin: 0 0 30px;
  text-align: left;
  position: relative;
  z-index: 2;
}
@media (max-width: 991px) {
.testimonials h2 {
  text-align: center;
}
}
.testimonials .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: center;
  gap: 30px;
}
.testimonials .content .box {
  background-color: #eee;
  padding: 20px;
  margin-left: 20px;
  margin-top: 20px;
  overflow: hidden;
}
@media (max-width: 991px) {
.testimonials .content .box {
  text-align: center;
  overflow: hidden;
}
}
.testimonials .content .box p {
  margin: 0 0 20px;
  line-height: 1.5;
  font-size: 15px;
  color: #707070;
  font-style: italic;
}
.testimonials .content .box h4 {
  margin: 14px 0 10px;
}
.testimonials .content .box .image {
  display: flex;
  gap: 40px;
}
@media (max-width: 991px) {
  .testimonials .content .box .image {
    display: block;
  }
}
.testimonials .content .box img {
  width: 100px;
}
/* testimonials */
/* Start Contact Us */
.contact {
  min-height: 600px;
  background-image: url('../imgs/contact.png');
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.contact .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .6);
  /* background-color: rgb(255 255 255 / 60%); */
}
.contact .container {
  position: relative;
  z-index: 2;
}
.contact h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center; 
}
.contact form {
  overflow: hidden;
  max-width: 800px;
  margin: auto;
}
.contact form .left {
  float: left;
  width: 49%;
}
.contact form .right {
  float: right;
  width: 49%;
}
@media (max-width: 767px) {
  .contact form .left,
  .contact form .right {
    float: none;
    width: 100%;
  }
}
.contact form input:not([type="submit"]),
.contact form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #CCC;
  background-color: rgba(218, 218, 218, 0.19);
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus { 
  outline: 1px solid var(--main-color);
}
.contact form input {
  height: 40px;
}
.contact form textarea {
  height: 150px;
}
.contact form input[type="submit"] {
  padding: 10px;
  width: 100%;
  border-color: transparent;
  background-color: var(--main-color);
  color: #FFF;
  cursor: pointer;
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder {
  opacity: 0;
  transition: .3s;
}
.contact form textarea:focus:-ms-input-placeholder,
.contact form input:not([type="submit"]):focus:-ms-input-placeholder {
  opacity: 0;
  transition: .3s;
}
.contact form textarea:focus::placeholder,
.contact form input:not([type="submit"]):focus::placeholder {
  opacity: 0;
  transition: .3s;
}
/* End Contact Us */
/* footer */
.footer {
  background-color: #333;
    color: #EEE;
    padding: 20px;
    text-align: center;
}
/* footer */
/* start system grid */
@media (max-width: 992px) {
  .landing .header .toggle-menu {
    display: inline-block;
  }
  .landing .header .links {
    display: none;
  }
  .landing .header .links.open {
    background-color: #fff;
    padding: 10px;
    display: block;
    position: absolute;
    left: 0;
    top: 46px;
    width: 100%;
    border-radius: 4px;
  }
  .landing .header .links.open li a {
    color: var(--main-color);
    font-weight: bold;
  }
  .landing .header .links li {
    display: block;
    margin: 10px;
  }
}
/* start system grid */
